# R specific files
.Rproj.user/
.Rhistory
.RData
.Ruserdata
.Rapp.history
.Rproj.user
*.Rproj

# Quarto temporary files
/.quarto/
/_site/
/_book/
/_freeze/

# Temporary files
*.html
*.pdf
*.log
*.aux
*.out
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.synctex.gz
*.toc

# OS specific files
.DS_Store
Thumbs.db